<div class="footer mt15">
    <div class="container">
        <div class="footer-bg">
            <p class="links">
                <span>©2012-2013 Snowy.in</span>
                <span>Powered by Tornado.</span>
            </p>
            
            <p>
                <a href="/about" target="_self">关于我们</a> -
                <a href="/team" target="_self">团队</a> -
                <a href="/feedback" target="_self">意见反馈</a> -
                
            </p>
            
           
            <p class="fade-color">
                {#
                <span># version 0.1.0-dev</span>
                #}
                
            </p>
        </div>
    </div>
</div>

<div style="display: none;">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5a0f15523b0100a6979e2772e0573347' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
